<launch>
  <arg name="use_sim_time" value="false"/>
  <arg name="host"/>
  <include file="$(find neato_node)/launch/bringup_minimal_symmetric.launch">
	<arg name="host" value="$(arg host)"/>
  </include>
 <node name="jpg_stream" pkg="neato_node" type="jpg_stream">
    <param name="host" value="$(arg host)"/>
  </node>
</launch>
